/*
 * Clemson University
 * ------------------
 *
 * styles for font colors
 *  "color:..."
 *
 * and background colors
 *  "background-color:..."
 *
 */
#import .clemson-orange-color {
  color: #f938ab;
}
.clemson-regalia-color {
  color: #109dc0;
}
.clemson-fort-hill-color {
  color: #FFFFFF;
}
.clemson-bengal-stripe-color {
  color: #000000;
}
.clemson-annass-lace-color {
  color: #F9E498;
}
.clemson-hartwell-moon-color {
  color: #D4C99E;
}
.clemson-calhoun-fields-color {
  color: #B5C327;
}
.clemson-orange-background-color {
  background-color: #f938ab;
}
.clemson-regalia-background-color {
  background-color: #109dc0;
}
.clemson-fort-hill-background-color {
  background-color: #FFFFFF;
}
.clemson-bengal-stripe-background-color {
  background-color: #000000;
}
.clemson-annass-lace-background-color {
  background-color: #F9E498;
}
.clemson-hartwell-moon-background-color {
  background-color: #D4C99E;
}
.clemson-calhoun-fields-background-color {
  background-color: #B5C327;
}
